*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0,0,0,.95), rgba(0,0,0,.5)), url("img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #e7fffb;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 2em;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  padding: 20px 40px;
  margin: 0 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all .3s;
}

header ul li:hover {
  border: 2px solid #e7fffb;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 4.5em;
}

.content p {
  font-weight: 400;
  color: #999;
  margin: 10px 0 20px 0;
}

.content button {
  margin-top: 20px;
  padding: 10px 40px;
  border: none;
  border: 2px solid #e7fffb;
  border-radius: 3px;
  color: #e7fffb;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
}

.content button:hover {
  background-color: #e7fffb;
  color: #000;
}

footer {
  text-align: center;
  padding: 40px;
  color: white;
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  header ul li{
    padding: 10px 20px;
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 500px) {
  header ul li{
    padding: 5px 10px;
    margin: 20px 0px;
  }

  .content h1 {
    font-size: 2.5em;
  }

  .content p {
    font-size: .9em;
    font-weight: 100;
    color: #999;
    margin: 10px 0 20px 0;
  }
}